.html-content {
  .h5-table {
    border-bottom: solid 2px var(--adm-color-border);
    border-right: solid 2px var(--adm-color-border);
    font-size: var(--adm-font-size-6);
  }

  .h5-thead {
    background: var(--adm-color-background-grey);
    color: var(--adm-color-text-secondary);
  }

  .h5-tr {
    display: flex;
  }

  .h5-th, .h5-td {
    flex: 1;
    padding: 12px 32px;
    border-top: solid 2px var(--adm-color-border);
    border-left: solid 2px var(--adm-color-border);
    word-break: break-all;
  }

  .h5-h1 {
    font-size: var(--adm-font-size-10);
  }

  .h5-h2 {
    font-size: var(--adm-font-size-9);
  }

  .h5-h3 {
    font-size: var(--adm-font-size-8);
  }

  .h5-h4, .h5-h5 {
    font-size: var(--adm-font-size-6);
  }

  .h5-h1, .h5-h2, .h5-h3, .h5-h4, .h5-h5 {
    font-weight: bold;
    margin: 1em 0;
  }

  .h5-ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
  }

  .h5-ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
  }

  .h5-li {
    display: list-item;
    text-align: -webkit-match-parent;
  }

  .h5-em {
    font-style: italic;
  }

  .h5-strong {
    font-weight: bold;
  }

  .h5-br {
    &:after {
      content: ' ';
      display: block;
    }
  }

  .h5-p {
    margin: 0.5em 0;
  }

  .h5-img {
    width: 100%;
  }

  .h5-blockquote {
    padding: 0 40px;
    margin: 40px 0;
    font-size: 35px;
    border-left: 10px solid var(--primary-color);
    font-weight: bold;

    .h5-p {
      margin: 0 !important;
    }
  }

  .h5-input.task-list-item-checkbox {
    display: inline-block;
    border: solid 2px var(--primary-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;

    &.is-checked {
      &:before {
        background: var(--primary-color);
        margin: 4px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        content: "";
        display: block;
      }
    }
  }

  .h5-ul.contains-task-list {
    list-style-type: none;
    padding: 0;
  }
}

.md-content {
  .h5-table .h5-td:nth-child(2), .h5-table .h5-th:nth-child(2) {
    flex: 2;
  }

  .h5-table .h5-td:nth-child(3) {
    color: #c41d7f;
  }
}
